@import 'bootstrap-sprockets';
@import 'bootstrap';

@import 'fonts';
@import 'alerts';


.logo{

  width: 345px;
  height: 76px;

}


.uptext{
  text-transform: uppercase;
}

body{

  background-image: url("wood.png");
  background-color: #fff;
  padding: 0px 20px 0px 20px;
  background-repeat: no-repeat;
  width:100%;
  height:100%;
  z-index:-100; //so it will not overlay on other elements
  position:absolute;
  top:0px;
  left:0px;
  // font-family: 'Ubuntu', sans-serif;
  font-family: 'Quicksand', sans-serif;

}




body {padding-top:20px;}


.container2{

  background-color: #fff;
  padding: 15px 15px 15px 15px;
}


.cntr{
  align: center;
  text-align: center;
  content-align: center;

}

.wdth{

  width: 60%;
}

.row{

  padding: 15px 15px 15px 15px;
}

.modal-dialog{
  width: 50%
}

.img-thumbnail{
  // margin: 25px;
  margin: 10px 10px 10px 10px;
  padding: 15px;

line-height: 1.428571429;
background-color: white;
border: 1px solid #dddddd;
border-radius: 5px;
-webkit-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
display: inline-block;
max-width: 100%;
height: auto;

}
