@import 'bootstrap-sprockets';
@import 'bootstrap';

@import 'fonts';
@import 'alerts';


.thumbnail{
  text-align: center;
}

.logo{

  width: 345px;
  height: 76px;

}


.row{

  padding: 0px 5px 0px 5px;
}


body{

  background-image: url("http://earoa.com/img/wood.png");
  background-color: #fff;
  padding: 0px 20px 0px 20px;
  background-repeat: no-repeat;
  width:100%;
  height:100%;
  z-index:-100; //so it will not overlay on other elements
  position:absolute;
  top:0px;
  left:0px;
}


body {padding-top:20px;}


.container{

  background-color: #fff;
}
